target/
!.mvn/wrapper/maven-wrapper.jar
/help.md
.mtj.tmp/
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.iws
.vscode/
bin/
